/* app css stylesheet */

.my-row-standard
{
    margin-bottom: 20px;
}

.tile-movie
{
    /*min-height: 485px;*/
}

.tile-movie > .tile-image
{
    width: 80%; height: auto;
    max-width: 194px; max-height: 281px;
}

.tile-movie > .tile-title
{
    margin-bottom: 20px;
}

.my-form-control
{
    height: 45px;
}